<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectUAS_toko_buah.Properties.Settings.toko_buahConnectionString"
            connectionString="Data Source=LAPTOP-69KQVMS1\DZAKY_NAUFAL;Initial Catalog=toko_buah;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>